.second-content {
  background-color: white;
  border-radius: 25px;
  border-top: 1px solid lightgray;
  box-shadow: 6px 8px 8px 3px rgba(25, 25, 26, 0.5);
}

.quoraBox-info {
  display: flex;
  align-items: center;
  padding: 10px;
}

.quoraBox-info > h5 {
  margin-left: 10px;
  justify-content: center;
  align-items: center;
  font-size: smaller;
}

.quoraBox-quora {
  margin-top: -15px;
  padding-bottom: 5px;
}

.quoraBox-quora > p {
  margin-left: 20px;
}

/* .second-content > p {
  margin-left: 10px; */
  /* margin-bottom: 10px; */
  /* padding-bottom: 10px;
} */