.qHeader {
  display: flex;
  justify-content: space-around;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: white;
  height: 60px;
  position: sticky;
  z-index: 1000;
  top: 0;
  box-shadow: 5px 15px 10px -10px rgba(25, 25, 26, 0.5);
}

.qHeaderContent {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.qHeaderLogo>img {
  height: 30px;
  margin-left: 30px;
  position: relative;
}

.qHeaderContent>.qHeaderIcons {
  font-size: 40px;
}

.qHeaderIcons {
  cursor: pointer;
  font-size: 40px;
  padding: 20px 20px;
  color: rgb(39, 38, 38);
  margin-left: 10px;
}

.qHeaderIcons>.active {
  fill: #8f1f1b;
  box-shadow: 5px 15px 10px -10px rgba(25, 25, 26, 0.5);
}

.qHeaderIcons> :hover {
  border-radius: 10px;
  font-size: 30px;
  color: #8f1f1b;
}

.qHeaderIcons>img {
  height: 30px;
  width: 30px;
  margin-left: 45px;
}

.qHeaderRem {
  margin-left: 50px;
  cursor: pointer;
}

.qHeaderInput {
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
  padding: 5px;
  border-radius: 5px;
}

.qHeaderInput>input {
  background-color: transparent;
  outline: none;
  border: none;
  color: rgb(49, 49, 49);
}

.qHeaderiInput>.MuiSvgIcon-root {
  color: gray;

}

.quoraQustionButton {
  margin-right: 50px;
  background-color: rgb(119, 65, 189);
  color: #fff;
  border: none;
  outline: none;
  width: 120px;
  padding: 15px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
}

.quoraQustionButton:hover {
  color: rgb(92, 34, 167);
  background: rgb(218, 206, 233);
}

.logoutButton {
  background-color: crimson;
  color: #fff;
  border: none;
  outline: none;
  width: 100px;
  padding: 15px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
}

.logoutButton:hover {
  background-color: rgb(236, 98, 126);
}

.modal-title {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  border-bottom: 1px solid rgba(187, 187, 187, 0.5);
}

.modal-title>h5 {
  color: gray;
  font-size: 20px;
  cursor: pointer;
  font-weight: 500;
  margin-right: 30px;
}

.modal-title>h5:hover {
  color: #b92b27;
}

.modal-info {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.modal-info>p {
  margin-left: 10px;
  font-size: small;
  color: gray;
}

.modal-info>.modal-scop {
  display: flex;
  align-items: center;
  color: rgb(98, 98, 98);
  padding: 5px;
  margin-left: 10px;
  background-color: rgb(230, 230, 230);
  border-radius: 33px;
  cursor: pointer;
}

.modal-feild {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  flex: 1;
}

.modal-buttons {
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-right: -20px;
  flex-direction: column;
  gap: 5px;
}

.modal-buttons>.cancel {
  border: none;
  margin-top: 5px;
  outline: none;
  color: gray;
  font-weight: 500;
  padding: 10px;
  margin-right: 10px;
  border-radius: 33px;
  cursor: pointer;
}

.modal-buttons>.add {
  border: none;
  outline: none;
  width: 50%;
  margin-top: 5px;
  background-color: rgb(119, 65, 189);
  color: white;
  font-weight: 700;
  padding: 20px;
  margin-right: 10px;
  border-radius: 50px;
  cursor: pointer;
}

.modal-buttons>.add:hover {
  color: rgb(92, 34, 167);
  background: rgb(218, 206, 233);
}

.react-responsive-modal-modal {
  width: 90vw;
  height: 85vh;
}

.quill {
  height: 50vh;
}

.react-responsive-modal-overlay {
  background-color: rgb(0 0 0 / 75%);
}
