.sidebarMenu {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: auto;
  background-color: #fff;
  margin-right: 20px;
  border-radius: 25px;
  padding-top: 10px;
  box-shadow: 8px 5px 8px 3px rgba(25, 25, 26, 0.5);
  border-left: 1px solid lightgray;
}

.Options {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sidebarMenu>.Options:hover {
  background-color: rgb(240, 242, 243);
  border-left: 5px solid rgb(100, 42, 175);
}

.Options:hover {
  background-color: transparent;

}

.Options>img {
  height: 25px;
  width: 25px;
  border-radius: 5px;
  margin-left: 10px;
  top: 10px;
  margin-top: 4px;
}

.Options>p {
  bottom: 20px;
  margin-bottom: 15px;
  font-weight: 480;
  margin-left: 10px;
}

.qustionbtn {
  background-color: transparent;
  height: 5vh;
  cursor: pointer;
  border: none;
  font-weight: 400;
  font-size: medium;
}