.widget-contents {
  display: flex;
  cursor: pointer;
  padding-left: 10px;
}

.widget-cont {
  margin: 5px;
  display: flex;
  padding: 5px;
  border-bottom: 1px solid lightgrey;
  padding: 10px;
  border-radius: 40px;
}

.widget-contents>.widget-cont>.wid-img {
  height: 30px;
  width: 30opx;
  border-radius: 5px;
  border-radius: 40px;
}

.widget-content-title {
  margin-left: 10px;
}

.widget-content-title>h5 {
  color: rgb(78, 68, 68);
}